div.menu {
    width: 100%;
    padding-top:0;
    padding-bottom:0;
    text-align:center;
}

div.menu ul {
    list-style-type: none;
}

div.menu li {
    display: inline;
}

div.error {
    width:100%;
}

div.copyright {
    width: 100%;
    text-align: center;
}

div.elementschool {
    width:100%;
}

div.elementschool #newcard {
    display:none;
}

div.elementschool:hover #newcard {
    display:block;
}
