div.menu {
    margin: 0;
    padding: 0;
    text-align: center;
}

div.menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    vertical-align: bottom;
}

div.menu ul li {
    display: inline;
    vertical-align: bottom;
}

div.topbar {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 110px;
    background: #e6e6e6;
}

div.topbar .menu {
    display: inline;
    float: right;
    margin-right: 100px;
    padding-top: 70px;
}

div.bottombar {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50px;
    border-top: solid gray 1px;
}

div.bottombar .menu {
    padding-top: 10px;
}

#logo {
    position: absolute;
    top: 15px;
    left: 100px;
}

#logo img {
    display:inline;
    vertical-align:middle;
}