#loading {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 1000;
}

#warning {
    height: 1.5em;
    line-height: 1.5em;
    font-size: 24px;
    background: #f3f3f3;
    text-align: center;
}

#menu {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 500;
    margin: 10px;
}

#tip {
    height: 1.5em;
    line-height: 1.5em;
    font-size: 24px;
    background: #f3f3f3;
    text-align: center;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul li {
    margin: 0;
    padding: 0;
    border: 0;
    display: inline;
}

.arena {
    position: absolute;
    left: 0;
}

#toppanel {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    display: none;
}

#bottompanel {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 200;
    display: none;
}

#arena .player {
    /*background: url(../../image/texture/white.png);*/
}

.emptyPlayer {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    background: url(../../image/texture/black.png);
}

.selfPlayer {
    background: url(../../image/texture/green.png);
}

#arena .player {
    position: relative;
}

#arena .player ul {
    font-size: 0;
}

#arena .player ul li .score{
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: center;
    cursor: pointer;
}

#arena .player ul li .element{
    position: absolute;
    text-align: center;
    display: none;
}

#arena .player ul li .element .elementAmount{
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
}

#arena .top {
    display: block;
    width: 100%;
}

#arena .top li {
    display: inline;
    float: left;
}

#arena .top .player {
    display: inline;
    float: left;
}

#arena .top .player ul li {
    display: inline;
    float: left;
}

#arena .center {
    display: block;
    width: 100%;
}

#arena .center li {
    display: inline;
    float: left;
}

#arena .center .player {
    display: block;
}

#arena .center .player li {
    display: block;
}

#arena .bottom {
    display: block;
    width: 100%;
}

#arena .bottom li {
    display: inline;
    float: left;
}

#arena .bottom .player {
    display: inline;
    float: left;
}

.corner {
    position: relative;
    margin: 0;
    padding: 0;
}

.corner .label {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

.player img {
    margin: 0;
    padding: 0;
    width: 0;
    height: 0;
    z-index: 10;
}

.board {
    position: relative;
    margin: 0;
    padding: 0;
    /*z-index: 1;*/
    border: 3px solid white;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    background-image: url("../../image/texture/black.png");
}

.board .transparent {
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
}

.board .separator {
    display: block;
    position: absolute;
    margin: 0;
    padding: 0;
    border: 0;
    height: 2px;
    background-color: lightgray;
    font-size: 0;
}

.cardholder {
    background-color: lightgray;
}

.cardlist {
    display: block;
    position: absolute;
    margin: 0;
    padding: 0;
}

.card {
    position: relative;
    display: inline;
    margin: 0;
    padding: 0;
}

.cardimage {
    margin: 0;
    padding: 0;
    /*z-index: 50;*/
}

.card .label {
    position: absolute;
    display:inline;
    margin: 0;
    padding: 0;
    z-index: 100;
    text-align:center;
}

.card .level {
    top: 0;
    left: 0;
}

.card .health {
    top: 0;
    right: 0;
}

.card .range {
    bottom: 0;
    left: 0;
}

.card .attack {
    bottom: 0;
    right: 0;
}

.skillimage {
    position: absolute;
    margin: 0;
    padding: 0;
    z-index: 100;
}

#sidebar div {
    overflow:auto;
}

#sidebar div ul {
    width: 100%;
}

#sidebar li {
    font-size: 12px;
    margin-bottom: 0.5em;
    display: block;
}