body {
    margin: 0;
    padding: 0;
    background: #f9f9f9;
}

.ui-layout-content {
    overflow-y: auto;
}

.ui-layout-west {
    background-color: #999999;
}

.ui-layout-center .ui-layout-content {
    padding-left: 30px;
    padding-right: 30px;
    border-left: 20px solid white;
    border-right: 20px solid white;
    background-color: #cccccc;
}

.ui-layout-east {
    background: url(../../image/grid/grid.png);
}

.ui-layout-east .ui-layout-content {
    padding: 20px;
    background: url(../../image/texture/black.png);
}

.vmenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.vmenu a:link,
.vmenu a:visited {
    display: block;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #999999;
    width: 300px;
    height: 2em;
    line-height: 2em;
    text-decoration: none;
    padding-left: 1em;
}

.vmenu a:hover,
.vmenu a:active {
    background-color: #cccccc;
}

.vmenu .highlight a:link,
.vmenu .highlight a:visited {
    background-color: #666666;
}

.vmenu .category a:link,
.vmenu .category a:visited {
    border-top: #ffffff solid 5px;
    background-color: #666666;
}

.vmenu .active a:link,
.vmenu .active a:visited {
    background-color: #333333;
}

.focusField {
    border: solid 2px #73A6FF;
    background: #EFF5FF;
    color: #000;
}

.idleField {
    background: #EEE;
    color: #6F6F6F;
    border: solid 2px #DFDFDF;
}

#card-form label.error {
    margin-left: 2em;
    color: #ff6666;
    width: auto;
    display: inline;
    float: none;
}

