.carousel {
    width: 100%;
}

.carousel div {
    display: block;
}

.carousel .center {
    display: table-row;
    width: 100%;
    margin: 0;
    padding: 0;
}

.carousel .center > div {
    display: table-cell;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

.carousel .arrow {
    position: relative;
    width: 37px;
    cursor: pointer;
}

.carousel .arrow a img {
    width: 37px;
    height: 37px;
}

.carousel .center .content {
    display: block;
    overflow: hidden;
}

.carousel .center .content ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

.carousel .center .content ul li {
    display: inline;
    float: left;
    margin: 0;
    padding: 0;
    height: 100%;
}