.carousel {
    width: 100%;
}

.carousel .arrow {
    display: block;
    width: 37px;
    cursor: pointer;
}

.carousel .arrow img {
    width: 37px;
    height: 37px;
}

.carousel .forward {
    float: right;
}

.carousel .back {
    float: left;
}

.carousel div {
    display: block;
}

.carousel .center {
    width: 100%;
}

.carousel .center ul {
    display: block;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}

.carousel .center ul li {
    display: inline;
    float: left;
    margin: 0;
    padding: 0;
}

.carousel .center .list {
    width: 100%; /* .packages width - (.list margin-left + .list margin-right) */
    overflow: hidden;
}

.carousel .center .list ul {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.carousel .center .list ul li {
    display: inline;
    float: left;
    margin: 0;
    padding: 0;
    width: 6%;
    height: 100%;
}

.carousel .center .item {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}