.dashboard {
    position: relative;
    width: 95%;
    height: 95%;
    margin: 0;
    padding: 0;
}

.dashboard .corner {
    position: absolute;
    width: 100px;
    height: 100px;
}

.dashboard .title {
    text-align: center;
}

.dashboard .new-game-form {
    display: none;
    text-align: center;
}
